h1{
    background-color: blanchedalmond;
}
div{
    background-color: brown;
    opacity: 0.7;
    padding: 200px;
        border: 110px solid #4caf54;
        text-align: center;
        width: 300px;
        border:100px salmon;
        padding: 200px;
        margin: auto
}
p{
    background-color: burlywood;
}
body{
    background-color: burlywood;
    text-overflow: clip;

    
}
p.groove {border-style: groove;}p.groove {border-style: groove;}

img{
    border: coral;
    shape-outside: inherit;
    opacity: 0.7;

}